.layout-content-wrapper {
    padding-top: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .layout-content {
        min-height: calc(100vh - 13.2rem);
        flex: 1 1 auto;
        padding: 2rem;
    }
}
